.header {
    background-color: DodgerBlue;

    height: 50px;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.title {
    color: rgba(0, 0, 0, .85);
    font-weight: 600;
    font-size: 26px;
    line-height: 1.5;
    flex: 1;
    text-align: center;
}

.headerBox {
    display: flex;
    justify-content: center;
    align-items: center;
}